---
import Header from '../components/Header.astro';
let title = 'Astro WordPress demo';
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>{title}</title>
    <meta name="viewport" content="width=device-width" />
  </head>
  <body>
    <Header />
    <div class="mb-5 text-4xl font-bold">Welcome to AstroPress</div>
  </body>
</html>